.kkjs_filePanel .file {
	display: block;
	padding: 3px;
	position: relative;
	border: 1px solid lightgray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 1px;
}
.kkjs_filePanel .file.active {
	background-color: lightgray;
}

.kkjs_filePanel .file .label, .kkjs_filePanel .file .label input {
	position: relative;
	width: 100%;
	display: block;
	text-align: left;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.kkjs_filePanel .file .label input {
	border-width: 0px;
	background-color: transparent;
}

.kkjs_filePanel .file .label .openLink {
	position: absolute;
	right: 10px;
}

.kkjs_filePanel .file.clone .label .openLink {
	display: none;
}

.kkjs_filePanel .file .move {
	display: none;
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-image: url('../images/arrowmove.png');
	cursor: pointer;
}

.kkjs_filePanel .file:hover .move {
	display: block;
}

.kkjs_filePanel .file.copy {
	cursor: url("copy.cur"), url("copy.png"), copy;
	border-color: #0000FF;

}
.kkjs_filePanel .file.copy .move {
	cursor: url("copy.cur"), url("copy.png"), copy;
}

.kkjs_filePanel .file.move {
	cursor: url("move.cur"), url("move.png"), move;
	border-color: #FF0000;
	
}
.kkjs_filePanel .file.move .move {
	cursor: url("move.cur"), url("move.png"), move;
}