.kkjs_kightbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 10000;
}

.kkjs_kightbox .spanner {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.kkjs_kightbox .container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
	line-height: 0;
}

.kkjs_kightbox .container > *{
	line-height: initial;
}

.kkjs_kightbox_overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 100;
}

.kkjs_kightbox .border {
	position: absolute;
	width: 13px;
	height: 18px;
	
}

.kkjs_kightbox .button {
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	margin: -15px;
	z-index: 20000;
}

.kkjs_kightbox .button.close {
	top: 0;
	right: 0;
	background-image: url('../images/fancy_closebox.png');
}
.kkjs_kightbox .button.minimize {
	top: 0;
	left: 0;
	background-image: url('../images/fancy_minimizebox.png');
}
.kkjs_kightbox .button.next {
	display: none;
	top: 50%;
	right: -5px;
	background-image: url('../images/fancy_right.png');
}
.kkjs_kightbox .button.prev {
	display: none;
	top: 50%;
	left: -5px;
	background-image: url('../images/fancy_left.png');
}
.kkjs_kightbox .container:hover .button.prev, .kkjs_kightbox .container:hover .button.next {
	display: block;
}

.kkjs_kightbox .wait {
	display: block;
	height: 32px;
	width: 32px;
	position: relative;
	top: 50%;
	left: 50%;
	margin: -16px;
	background-image: url('../images/wait.gif');
}

.kkjs_kightbox .sourceNotFound {
	display: block;
	height: 32px;
	width: 32px;
	position: relative;
	top: 50%;
	left: 50%;
	margin: -16px;
	background-image: url('../images/sourceNotFound.png');
}

.kkjs_kightbox .contentContainer {
	display: inline-block;
	overflow: hidden;
	text-align: left;
	position: relative;
}

.kkjs_kightbox .contentContainer iframe {
	height: 100%;
	width: 100%;
	border: 0;
}

.kkjs_kightbox .contentContainer img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.kkjs_kightbox .metaInfo {
	background-color: black;
	color: white;
	margin: 10px -10px 0;
	padding: 2px 10px;
	text-align: left;
}

.kkjs_kightbox .metaInfo .title {
	font-weight: bold;
	font-size: 1.2em;
}
.kkjs_kightbox .metaInfo .title + .description {
	margin-top: 5px;
}

.kkjs_kightbox .metaInfo .groupInfo {
	float: right;
}
.kkjs_kightbox .metaInfo .clear {
	clear: both;
}

