.kkjs_spyglassWrapper {
	display: inline-block;
	position: relative;
	cursor: none;
	line-height: 0px;
}
.kkjs_spyglassWrapper .spyglass {
	position: absolute;
	display: none;
	border-radius: 100%;
	width: 200px;
	height: 200px;
	margin: -100px;
	background-repeat: no-repeat;
}
.kkjs_spyglassWrapper:hover .spyglass {
	display: block;
}